<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
				<key>dateExpires</key>
				<string>8/1/26</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityAppleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.15.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PurchasesHybridCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>17.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenueCat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>5.37.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenuecatPurchasesCapacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>11.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>217B0AC63204EC6E19C1E8EB88A27E2B740678E0</string>
						<key>dateExpires</key>
						<string>8/1/26</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5MW84WYP72</string>
						<key>name</key>
						<string>Fahad Alghaith</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5MW84WYP72.io.fsncrew.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:fsncrew.io</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5MW84WYP72</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>070d24dc-f9d2-4da4-91c2-53098195b215</string>
				<key>dateExpires</key>
				<string>8/2/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.fsncrew.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5MW84WYP72</string>
				<key>name</key>
				<string>Fahad Alghaith</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
